{% extends "base_generic2.html" %}

{% block content %}
    <!-- Banner Area -->
    <div class="banner text-center">
        <h1 class="display-4">Socio Sync Help</h1>
    </div>

    <h2 class="text-center">Hello {{ user.username }}, Welcome to the Help Page</h2>



    <div class="table-responsive">
        <table class="table">
            <thead>

            </thead>

        </table>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <p>Need more help? Contact our support team.</p>
    </footer>
{% endblock %}
